
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Color palette
$dark-primary-color: #0097A7;
$light-primary-color: #B2EBF2;
$primary-color: #00BCD4;
$text-icons: #FFFFFF;
$accent-color: #00BCD4;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}
// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}
// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}
// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content {
    text-align: center;
}

.title {
    font-size: 7vw;
    @include md {
        font-size: 6vw;
    }
    @include lg {
        font-size: 5vw;
    }
    @include xl {
        font-size: 70px;
    }
}

.title-2 {
    font-weight: bolder;
    font-size: 15px;
    text-align: center;
    @include sm {
        font-size: 15px;
    }
    @include md {
        font-size: 18px;
    }
    @include lg {
        font-size: 18px;
    }
    @include xl {
        font-size: 20px;
    }
}

#states-chart {
    margin-bottom: 50px;
}

#dependencies-chart {
    margin-bottom: 50px;
}

footer {
    margin-top: 40px;
    margin-bottom: 30px;
}

#download-the-app, #copyright {
    margin-top: 20px;
}

#icon {
    width: 100px;
    height: auto;
    margin-top: 20px;
}

header {
    margin-bottom: 25px;
    @include md {
        margin-bottom: 50px;
    }
}
